:root {
  --font-base: 16px;
  --df-padding-bottom: 50px;
  --border-sm: 10px;
  --pmcolor: #fff;
  --sdcolor: #42210b;
  --ttcolor: #251e19;
}

html,
body {
  min-height: 100vh;
  padding-bottom: 75px;
  font-family: "Noto Serif JP", serif;
  font-size: var(--font-base);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
}

li {
  list-style: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

div,
li {
  box-sizing: border-box;
}

img,
iframe {
  border-radius: var(--border-sm);
  overflow: hidden;
}

/** Header */
.header_nav {
  background-image: linear-gradient(
    45deg,
    var(--pmcolor) 20%,
    rgba(0, 0, 0, 0.6) 60%
  );
  width: 100%;
  height: 60px;
  /* height: 64px; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  z-index: 99;
}

.global_nav_item {
  color: var(--pmcolor);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: background-color 100ms ease-in;
}

.global_nav_item:hover {
  background: var(--pmcolor);
  color: var(--sdcolor);
}

.global_nav {
  display: flex;
  align-items: stretch;
}

.logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.section_inner {
  padding: 50px 10% 30px;
}

.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.key h1 {
  font-size: 2.5rem;
}

.key p {
  font-weight: 400;
}

.section_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--df-padding-bottom);
}

/** Concept */
.concept_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.concept_content {
  width: 60%;
}

.concept_content_image {
  width: 35%;
}

/** Menu */
.menu_section {
  background: url("../images/sample_menu_bg.jpg") no-repeat bottom;
  background-size: 100%;
  background-attachment: fixed;
}

.menu_title {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--sdcolor);
  border-bottom: solid var(--sdcolor) 1px;
  margin-bottom: 20px;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: var(--df-padding-bottom);
}

.menu_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
}

.menu_item_content {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--pmcolor);
  border-top-right-radius: var(--border-sm);
  border-bottom-right-radius: var(--border-sm);

  & > p {
    flex: 1;
  }
}

.menu_item_title {
  font-size: 18px;
}

.menu_item_price {
  color: var(--sdcolor);
  font-size: 18px;
  text-align: right;
}

.menu_item_image {
  width: 55%;
  object-fit: cover;
  height: 300px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.center {
  text-align: center;
}

.coffee_menu {
  background: #fff;
  padding: 20px;
  border-radius: var(--border-sm);
}

.coffee_menu_item {
  width: 49%;
  display: flex;
  column-gap: 20px;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
}

.coffee_menu_image {
  width: 20%;
  height: max-content;
  border-radius: 50%;
}

.coffee_menu_content {
  width: 80%;
  padding: 10px;
}

/** Button */
.btn {
  padding: 0.8rem 2rem;
  border: 2px solid var(--ttcolor);
  border-radius: calc(var(--border-sm) - 5px);
  cursor: pointer;
  color: var(--pmcolor);
  background-color: rgba(127, 136, 182, 1);
}

/** Info*/
.info {
  display: flex;

  & > .info_title {
    width: 80px;
  }
}

/** Maps iframe */
.frame_area {
  position: relative;
  width: 100%;
  height: 400px;
}

.frame_child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/** Footer */
footer {
  width: 100%;
  background: var(--ttcolor);
  position: absolute;
  bottom: -75px;
  padding-bottom: 10px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_nav_item {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--pmcolor);
  text-decoration: none;
  font-size: 15px;
}

.footer_right {
  color: var(--pmcolor);
  text-align: center;
  font-size: 10px;
}

.footer_logo {
  width: 80px;
}
