{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>Log In Assignment</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks:index' %}">Task List</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        <li><a href="{% url 'user_detail' user.pk %}">Account</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>